*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
   scroll-snap-type: none;
   cursor: none;
}
hr{
    margin: 20px;
    width: 60%;
   margin-left: -0;
}
*::-webkit-scrollbar{
    width: 10px;

}
*::-webkit-scrollbar-track{
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb{
    border-radius: 35px;
    background: #0ef;
}
body , html{
    height: 100vh;
    width: 100% ;
    background-color: #1f242d;
    color: white;
    scroll-behavior: smooth;
    -webkit-scrollbar{
        width: 10px;
        color: red;
    }
}
section{
    min-height: 100vh;
    padding: 10rem 6% 2rem;
}
span{
    color: #0ef;
}
#crusr{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(50%, -20%);
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
}
.active{
    color: #0ef;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    animation: sliderright 1s  ease forwards;
    
}
@keyframes sliderright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
.logo:after{
    content: "";
    position: absolute;
    background-color: #0ef;
    height: 3px;
    width: 0%;
    left: 0%;
    right: 0%;
    opacity: 1;
    bottom: -10px;
    transition: 0.3s all ease;
}
.logo:hover:after{
    width: 100%;
    box-shadow: 0 0 2.3rem #0ef;
}
.navbar{
    position: relative;
}
.navbar a{
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    margin-left: 2rem;
    text-decoration: none;
    position: relative;
    animation: slideTop .5s  ease forwards;
    animation-delay: calc(.2s *var(--i));

}
@keyframes slideTop {
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
        
}
.navbar a:after{
    content: "";
    position: absolute;
    background-color: #0ef;
    height: 3px;
    width: 0%;
    left: 0%;
    right: 0%;
    opacity: 1;
    bottom: -10px;
    transition: 0.3s all ease;
}
.navbar a:hover:after{
    width: 100%;
    box-shadow: 0 0 2.3rem #0ef;
}
.navbar a:hover,
.navbar a.active{
    color: #0ef;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
}
.home-img{
    /* border: .2rem solid #0ef; */
    border-radius: 100vh;
    /* box-shadow: 1rem 0 1.5rem #0ef; */
}
.home-img img{
    width: 40vw;
    border-radius: 100%;
    margin-bottom: 40px;
    background-color: #0ef;
    box-shadow: 0 0 1.5rem #0ef;
    opacity: 0;
    animation: zoomin 1s  ease forwards, float 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    border-radius: 80%;
    border: 2px solid #0ef;
}
@keyframes zoomin{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}
.home-contect h3{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 27px;
    animation: slidebottom .5s  ease forwards;
    animation-delay: .7s;
}
@keyframes slidebottom {
        0%{
            transform: translateY(-100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
        
}
.home-contect h3:nth-of-type(2) {
    margin-bottom: 10px;
    animation: slideTop 1s  ease forwards;
    animation-delay: .7s;
    font-size: 29px;
}
.home-contect h1{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: sliderright 1s  ease forwards;
    animation-delay: 1s;
}
.home-contect p{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 27px;
    opacity: 0;
    animation: sliderleft 1s  ease forwards;
    animation-delay: 1s;
}
@keyframes sliderleft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    font-size: 1rem;
    color: #0ef;
    margin: 2rem 1rem 2rem 0;
    opacity: 0;
    animation: sliderleft 1s  ease forwards;
    animation-delay: calc(.2s *var(--i));
}
.social-media a:hover{
    background: #0ef;
    color: #323946;
    box-shadow: 0 0 1rem #0ef;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #0ef;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #0ef;
    font-size: 1.6rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
    opacity: 0;
    animation: slideTop 1s  ease forwards;
    animation-delay: 2s;
}
.btn:hover{
    box-shadow: none;
    transition: 3.5s;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #323946;
}
.about-img img{
    width: 35vw;
    border-radius: 70%;
}
.about-text{
    margin-left: 10px;
}
.headding{
    text-align: center;
    font-size: 4.5rem;

}
.about-text h2{
    text-align: left;
    line-height: 1.2;
}
.about-text h3{
    font-size: 2.5rem;
}
.about-text p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}
.skill{
    min-height: auto;
    padding-bottom: 7rem;
    background-color: #1f242d;
}
.skill .skill-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skill-column .title{
    font-size: 2.5rem;
    margin: 5.9rem 0 1.5rem;
}
.skill-row .skill-column{
    flex: 1 1 30rem;
}
.skill-box .skill-content{
    position: relative;
    border: .2rem solid rgb(21, 198, 211);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}
.skill-content .progress{
    padding: 1rem 0;
}
.skill-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skill-content .progress h3 span{
    color: #0ef;
}
.skill-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid #0ef;
    padding: .5rem;
    margin: 1rem 0;
}
.skill-content .progress .bar span{
    display: block;
    height: 100%;
    background: #0ef;
    border-radius: .3rem;
}
.skill-column:nth-child(1) .skill-content .progress:nth-child(1) .bar span{
    width: 85%;
}
.skill-column:nth-child(1) .skill-content .progress:nth-child(2) .bar span{
    width: 62%;
}
.skill-column:nth-child(1) .skill-content .progress:nth-child(3) .bar span{
    width: 75%;
}
.skill-column:nth-child(1) .skill-content .progress:nth-child(4) .bar span{
    width: 68%;
}
.skill-column:nth-child(2) .skill-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skill-column:nth-child(2) .skill-content .progress:nth-child(2) .bar span{
    width: 75%;
}
.skill-column:nth-child(2) .skill-content .progress:nth-child(3) .bar span{
    width: 45%;
}
.skill-column:nth-child(2) .skill-content .progress:nth-child(4) .bar span{
    width: 65%;
}
.skill-box .skill-content{
    position: relative;
    border: .2rem solid #0ef;
    border-radius: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skill-box .skill-content::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(22, 114, 121, 0.444);
    z-index: -1;
    transition: .5s all ease;
}
.skill-box .skill-content:hover{
    box-shadow: 0 0 1rem #0ef;
}
.skill-box .skill-content:hover::before{
    width: 100%;
    box-shadow: 0 0 1rem #0ef;
}
.skill-content:hover .progress .bar span{
    box-shadow: 0 0 1rem #0ef;
}
.services h2{
    margin-bottom: 5rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.services-container .services-box{
    flex: 1 1 20rem;
    background: #323946;
    padding: 2.5rem 1.9rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #323946;
    transition: .5s ease;
}
.services-container .services-box:hover{
    border-color:#0ef ;
    transform: scale(1.04);
    box-shadow: 0 0 2rem #0ef;
}
.services-box i{
    font-size: 5rem;
    color: #0ef;
}
.services-box h3{
    font-size: 1.8rem;
}
.services-box p{
    font-size: 1rem;
    margin: 1rem 0 3rem;
    line-height: 25px;
}
.contect h2{
    margin-bottom: 3rem;
}
.contect form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contect form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contect form .input-box input,
.contect form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #323946;
    border-radius: .8rem;
    margin: .7rem 0;
    outline: none;
    border: none;
}
.contect form .input-box input{
    width: 49%;
}
.contect form textarea{
    resize: none;
}
.contect form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #323946;
}
.footer-text p{
    font-size: 1.5rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #323946;
    border-radius: 9rem ;
    text-decoration: none;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: #0ef;
    transition: .5s ease;
    border-radius: 9rem;
}
.footer-iconTop a i:hover{
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 2rem #0ef;
}
@media (max-width: 1200px )  {
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px ){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 610px ) {
    .home{
        flex-direction: column;
    }
        .home-contect  h3 {
            font-size: 2.6rem;
        }
        .home-contect h1{
            font-size: 5rem;
        }
        .home-img img{
            width: 70vw;
            margin-top: 4rem;
        }
        .about{
            flex-direction: column;
        }
    }  
@media  (max-width: 382px )  {
    .logo{
        font-size: 1rem;
    }
}
@media (max-width: 428px ){
    
    .footer-iconTop a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .1rem;
        background: #323946;
        border-radius: 9rem ;
        text-decoration: none;
    }
}
@media (max-width: 409px){
    .home-contect h3:nth-of-type(2){
        font-size: 20px;
    }
}

@media (max-width: 376px ) {
    .footer{
        padding: 1rem 0%;
    }
}
@media (max-width: 376px ) {
    .footer-text p{
        font-size: 1rem;
    }
}
@media (max-width: 336px ) {
    .home{
        flex-direction: column;
    }
        .home-contect  h3 {
            font-size: 1.6rem;
        }
        .home-contect h1{
            font-size: 2.5rem;
        }
       
}
@media (max-width: 290px ) {
    .home-contect h3:nth-of-type(2){
        font-size: 15px;
    }
}
